[toolchain]
anchor_version = "0.32.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.mainnet]
a2m_campaign_vault = "2s7V6oGMGMY2ys9y9FHBKt9HPvxqCUK2DpXEWegWzA8G"
memecoin_curve = "BKWVgcPdNvYXUVBzfy17RDtSy7nvyxudUEF2yK34EYvu"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
